[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pika = "==1.3.2"
fastapi = "*"
bunnet = "*"
pydantic = "*"
pydantic-settings = "*"
typer = "*"
celery = "*"
pymongo = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.12"
